.robot-banner {
  margin-top: -10px;
}

.cocuk {
  width: 380px;
}
#cocuk-li {
  position: relative;
  text-align: left;
  top: 52%;
  left: -29px;
}

#banner-ul {
  position: absolute;
}

/**
Logo List
 */
.client-logo-list {
  padding-bottom: 65px;
}

.logo-list {
  margin: 0;
  margin-top: 8rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.logo-list li {
  width: 20%;
  margin-bottom: 30px;
}

#registration-iframe {
  z-index: 999999999;
  width: 100% !important;
  height: 900px;
  overflow: visible;
}

@media (min-width: 380px) {
  .logo-list {
    margin-top: 50rem;
  }
}

@media (min-width: 700px) {
  .logo-list {
    margin-top: 15rem;
  }
}

@media (max-width: 380px) {
  #robot-svg-roboticpage {
    height: 100px;
  }
}

@media (min-width: 1000px) {
  .logo-list {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10rem;
  }
}

@media (max-width: 991px) {
  .logo-list li {
    width: 33.3333%;
  }
}

@media (max-width: 576px) {
  .logo-list li {
    width: 50%;
  }
}

.logo-list li a {
  display: block;
}

@media (max-width: 990px) {
  #cocuk-li {
    display: none;
  }
}
@media (min-width: 1200px) {
  .robot-banner {
    margin-top: -57px;
  }
}

@media (min-width: 991px) {
  .robot-banner {
    margin-top: -65px;
  }
}

@media (min-width: 800px) {
  .cocuk {
    top: -60px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .cocuk {
    top: -60px;
  }
}
